body {
  background-color: rgb(255, 0, 0);
}

@media (max-width: 1600px) {
  body {
    background-color: rgb(255, 255, 0);
  }
}

@media (max-width: 1024px) {
  body {
    background-color: rgb(100, 50, 150);
  }
}

@media (max-width: 768px) {
  body {
    background-color: rgb(80, 150, 10);
  }
}